body {
    @include font-face(300);
    color: $baseFontColor;
    font-size: 16px;
    line-height: 1.5;
}

.clearfix:after {
    @include clearfix;
}

.svg-sprite {
    display: none;
}

.wrapper {
    &:after {
        @include clearfix();
    }
}

.cols {
    margin-bottom: 70px;
    @media #{$medium} {
        margin-bottom: 50px;
    }
    @media #{$mediumPortrait} {
        margin-bottom: 0;
    }
    &:after {
        @include clearfix;
    }
    .col-1 {
        width: 50%;
        margin: 0 auto;
        @media #{$medium} {
            width: 65%;
        }
        @media #{$mediumPortrait} {
            width: 100%;
            margin-bottom: 50px;
        }
        &:after {
            @include clearfix;
        }
        .content {
            margin-left: $col1image;
            font-size: 17px;
        }
        .image {
            width: $col1image;
        }
    }
    .col-2 {
        float: left;
        width: 50%;
        @include box-sizing();
        padding-right: 45px;
        @media #{$mediumPortrait} {
            width: 100%;
            float: none;
            padding-right: 0;
        }
        &:last-child {
            float: right;
            padding-right: 0;
            padding-left: 45px;
            @media #{$mediumPortrait} {
                padding-left: 0;
            }
        }
        .image {
            width: $col2image;
            @media #{$mediumPortrait} {
                margin-top: 23px;
            }
            @media #{$mediumPortrait} {
                width: 20%;
            }
        }
    }
    .image {
        float: left;
        text-align: center;
    }
    .content {
        margin-left: $col2image;
        text-align: justify;
        @media #{$mediumPortrait} {
            margin-left: 20%;
        }
    }
    h2,
    h3 {
        margin-top: 20px;
        text-align: left;
    }
}

.page-overlay {
    position: fixed;
    z-index: 100;
    background: $white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.scroller {
    display: none;
    position: fixed;
    z-index: 99;
    bottom: 80px;
    left: 50%;
    width: 100px;
    height: 100px;
    @include transform(translateX($baseWidth/2 + 60));
    //background: $white;
    background: rgba(255,255,255,.6);
    @include circle(50%);
    cursor: pointer;
    @include transition(background);
    -webkit-box-shadow: 0 0 12px rgba(150, 150, 150, .1);
    -moz-box-shadow: 0 0 12px rgba(150, 150, 150, .1);
    box-shadow: 0 0 12px rgba(150, 150, 150, .1);
    &:hover {
        background: $lightGrey;
        .icon {
            fill: $activeMenu;
        }
    }
    .icon {
        fill: #e4e4e4;
        width: 25px;
        height: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -20px 0 0 -13px;
        @include transform(rotate(-90deg));
        @include transition(fill);
    }
}