//devisces widths
$smallPortrait: "only screen and (max-width: 480px)";
$small: "only screen and (max-width: 640px)";
$mediumPortrait: "only screen and (max-width: 768px)";
$medium: "only screen and (max-width: 1280px)";