$baseFont: 'Open Sans', sans-serif;

//colors
$white: #ffffff;
$baseFontColor: #6d6e71;
$activeMenu: #1faae2;
$lightGrey: #eceef4;
$someGreyBorder: #d4d4d5;
$extraLightGrey: #f5f5f5;
$footerSocialDivider: #3c3e3f;
$footerBg: #2b2c2d;
$mapGrey: #dbdbdb;
$mapBlue: #1ea4d9;

//widths
$baseWidth: 1160px;
$col2image: 137px;
$col1image: 175px;