.mainnav {
    border-top: 1px solid $lightGrey;
    @media #{$medium} {
        position: relative;
    }
    @media #{$smallPortrait} {
        border-bottom: 1px solid $lightGrey;
    }
    nav {
        float: left;
        position: relative;
    }
    ul {
        @include list-styling();
        float: left;
        &:after {
            @include clearfix();
        }
        @media #{$mediumPortrait} {
            display: none;
        }
    }
    .drop {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 2;
        background: $white;
        width: 180px;
        border: 1px solid $lightGrey;
        border-top: none;
        &.opened {
            display: block;
        }
        li {
            float: none;
            border-left: none;
            border-top: 1px solid $lightGrey;
        }
    }
    .drop-btn {


        display: none;
        //float: left;
        /*border: 8px solid transparent;
        border-top-color: lighten($baseFontColor, 15%);*/
        border-top: 3px solid lighten($baseFontColor, 15%);
        position: absolute;
        top: 18px;
        left: 10px;
        //margin: 28px 20px 0 15px;
        width: 27px;
        height: 18px;
        cursor: pointer;
        //@include transition(border-top-color);
        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            border-top: 3px solid lighten($baseFontColor, 15%);
        }
        &:before {
            top: 7px;
        }
        &:after {
            top: 17px;
        }
        &:hover,
        &:focus {
            //border-top-color: $activeMenu;
        }
        @media #{$mediumPortrait} {
            display: block;
        }
    }
    li {
        float: left;
        border-left: 1px solid $lightGrey;
        &:first-child {
            border-left: none;
        }
        a {
            display: block;
            padding: 32px 20px;
            font-size: 13px;
            @include font-face(700);
            color: $baseFontColor;
            text-decoration: none;
            @include transition(color);
            position: relative;
            overflow: hidden;
            &:hover {
                color: $activeMenu;
            }
            @media #{$medium} {
                padding: 22px 15px;
            }
        }
        &.active {
            a {
                color: $activeMenu;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    border: 16px solid transparent;
                    border-bottom: 8px solid $activeMenu;
                    @include transform(translateX(-50%));
                }
            }
        }
    }
    .search {
        float: right;
        margin-top: 24px;
        @media #{$medium} {
            margin-top: 0;
            padding-left: 15px;
            position: absolute;
            z-index: 1;
            bottom: 0;
            top: 0;
            right: 10px;
            background: $white;
            border-left: 1px solid $lightGrey;
            form {
                margin: 14px 0;
            }
        }
        @media #{$mediumPortrait} {
            position: static;

        }
        .icon {
            display: inline-block;
            vertical-align: middle;
            width: 25px;
            height: 25px;
            fill: $baseFontColor;
            @include transition(fill);
            @media #{$medium} {
                cursor: pointer;
            }
        }
        .focused {
            .icon {
                fill: $activeMenu;
            }
        }
        input {
            width: 180px;
            display: inline-block;
            vertical-align: middle;
            border: 1px solid transparent;
            @include circle(2px);
            outline: none;
            margin: 0 0 0 5px;
            padding: 5px 8px;
            @include font-face(300);
            font-size: 15px;
            color: $baseFontColor;
            @include transition();
            &:focus {
                border-color: $someGreyBorder;
            }
            @media #{$medium} {
                width: 0;
                padding: 5px 0;
                margin: 0;
            }
            @media #{$mediumPortrait} {
                width: 180px;
                padding: 5px 8px;
                margin: 0 0 0 5px;
            }
            @media #{$smallPortrait} {
                width: 150px;
            }
        }
        &.opened {
            input {
                width: 180px;
                margin: 0 0 0 5px;
                padding: 5px 8px;
            }
        }
    }
}