.tabs {
    .tabs-nav {
        margin-bottom: 50px;
        @include font-face(700);
        font-size: 15px;
        @media #{$mediumPortrait} {
            margin-bottom: 30px;
        }
        ul {
            @include list-styling();
            text-align: center;
        }
        li {
            display: inline-block;
            margin: 0 10px;
            @media #{$medium} {
                margin: 0 5px;
            }
            @media #{$mediumPortrait} {
                margin: 0 5px 15px 5px;
            }
            &.active {
                a {
                    background: $white;
                    border-color: $white;
                    color: $baseFontColor;
                }
            }
        }
        a {
            display: block;
            min-width: 70px;
            padding: 7px 25px;
            text-decoration: none;
            color: #bbbbbb;
            border: 2px solid #cecece;
            @include circle(3px);
            @include transition();
            &:hover,
            &:focus {
                color: $activeMenu;
                border-color: $activeMenu;
            }
            @media #{$medium} {
                padding: 7px 15px;
            }
        }
    }
    /*.single-tab {
        display: none;
        &.active {
            display: block;
        }
    }*/
}